body {
    width: 1600px;
    margin: 0;
    padding: 0;
    background-color: #c96969;
}

@font-face {
    font-family: lato;
    src: local(lato-regular), url(/fonts/Lato/lato-regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: lato;
    src: local(lato-italic), url(/fonts/Lato/lato-italic.ttf);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: lato;
    src: local(lato-bold), url(/fonts/Lato/lato-bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: lato;
    src: local(lato-lightItalic), url(/fonts/Lato/lato-lightItalic.ttf);
    font-style: italic;

}

@font-face {
    font-family: lato;
    src: local(lato-light), url(/fonts/Lato/lato-light.ttf);
    font-style: normal;
}

a {
    text-decoration: none;
}

.header__page {
    background-color: #e8e8e8;
    display: flex;
    flex-wrap: wrap;
}

.header__wrp {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    margin: 0 14% 0 14%;

}

.logo-search__wrp {
    width: 62%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo__header {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
}

.logo__img {
    width: 59px;
    height: 51px;
}

.logo__name {
    text-transform: uppercase;
    color: #222222;
    font-family: lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
}

.logo__letter {
    color: #f16d7f;
    font-family: lato;
    font-weight: 700;
    font-style: normal;
}

.form__search {
    display: flex;
}

.search__browse {
    font-family: lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
}

.input-search {
    width: 316px;
    height: 38px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}

.button__search {}

.cart-acc__wrp {
    display: flex;
    width: 11%;
    justify-content: space-between;
    align-items: center;
}
}

.cart__img {}

.my-acc__link {
    font-family: lato;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
}

.header__nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-list {
    width: 72%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
}

.menu-item {}

.menu-link {
    color: #222222;
    font-family: lato;
    font-style: normal;
    font-weight: 700;
}